fastapi
uvicorn

langchain
langgraph
langchain-community
langchain-core

langchain-groq
groq

langchain-huggingface
sentence-transformers
transformers
torch

faiss-cpu
qdrant-client

pymupdf
python-docx
unstructured

tiktoken

beautifulsoup4
lxml
requests
httpx

python-dotenv
pydantic
pydantic-settings
numpy

rank-bm25

python-multipart

orjson

sse-starlette